@charset "UTF-8";
@import "padroes/predefinicoes";


/////// LAYOUT
body, html {
	overflow-x: hidden;
	&.no-scroll{
		overflow-y: hidden;
	}
}
body {
	font-weight: normal;
	font-style: normal;
	font-size: 18px;
	line-height: 1.7;
	color: $cinza;	
	font-family: $fonte-padrao;
	letter-spacing: 0.02em;
	position: relative;

	// fundo

	& > * {position: relative; z-index: 1;}
	
	@media (max-width: $smart-maior) { font-size: 16px; }
	/****************************************
	 ***** / FIM DE ADICAO DE CORES / *******
	 ****************************************/
}

@import "layout/componentes";
@import "layout/print";
