@media print {
    @page {
      margin: 1.5cm 1cm;
    }

    body {
        font-family: sans-serif !important;
        margin: 0;
        color: #000;
    }

    h1 {
        font-size: 1.3em !important;
    }

    header, #menu-aberto, .navegacao, .paginacao, footer, #pesquisa, .filtros-letra {
        display: none !important;
    }


    .corpo-texto {
        margin: 20px auto !important;
        p {
            font-size: 12px;
            margin-bottom: 10px;
        }
        table {
            max-width: 90%;
            font-size: 12px !important;
            overflow: visible;
            caption {
                font-weight: 800;
                text-transform: uppercase;
            }
            td {
                padding: 6px;
                font-size: 12px !important;
                &:before {
                    font-size: 11px !important;
                }
            }
        }

        h3 {
            margin-top: 20px;
        }
    }

    body:not(.impressao-qualidade){
        .dicionario {
                break-inside: auto !important;
            td {
                font-size: 12px !important;
                padding: 3px 20px !important;
                border-bottom: 1px solid #e9e9e9;
                button {
                    display: none;
                }
            }

            tr {
                margin-bottom: 20px !important;
                break-inside: avoid;
                width: 48%;
                &:nth-child(even) {
                    float: right;
                }
                &:nth-child(odd) {
                    float: left;
                    clear:both;
                }
            }
        }
    }

    

    .letra {
        margin-top: 80px !important;
        padding: 2px 15px;
        font-weight: 700;
        color: $marrom !important;
        border: 4px solid $marrom;
        text-transform: uppercase;
        font-size: 1.3em !important;
    }

    .nao-quebrar {
        break-inside: avoid;
        page-break-before: always;
    }

    .titulo {
        img {
            height: 20px;
            margin: 30px auto;
        }
    }
    table, img, svg, p, .capa-letra, .catalografica {
      break-inside: avoid;
    }

    .catalografica {
        page-break-before: always;
        max-width: 80%;
        margin: auto;
        .caixa {
            border-color: black;
        }
        .topo {
            border: 2px solid black;
            color: black;
        }
    }

    .alinhar-esquerda td {
        text-align: left !important;
    }

    .fichatecnica {
      .col {
        width: 46%;
        &:nth-child(even) {
            float: right;
        }
        &:nth-child(odd) {
            float: left;
            clear:both;
        }
      }
      img {
        display: none;
      }
    }




    /* IMPRESSAO DE QUALIDADE */

    body.impressao-qualidade{
        &:before, &:after{
            content: none;
        }
        

        #menu-barra,
        #menu-aberto,
        .barra-progresso,
        .corpo-texto,
        .filtros-letra,
        .fixartopo,
        .voltartopo{
            display: none !important;
        }

        .container{
            max-width: none;
            padding: 0;
        }

        .dicionario{
            font-size: 9pt;
            line-height: 11pt;
            &, & *{
                border-collapse: collapse;
                border-spacing: 0;
            }

            th, td{
                padding: 10px 15px;
                // &:first-child{
                //     padding-left: 0;
                // }

                // &:last-child{
                //     padding-right: 0;
                // }
            }

            td{
                &[data-label="Classificação"]{
                    button[data-toggle="tooltip"]{
                        display: none;
                    }
                }
            }
            thead{
                tr{
                    th{
                        color: black;
                        font-weight: bold;
                        border-bottom: 2px solid grey;
                    }
                }
            }

            tbody{
                tr{
                    background-color: transparent;
                    &:nth-child(even){
                        background-color: hsl(0,0,95%);
                    }
                }
            }
        }
    }
}